{% extends '/comment/base.twig' %}

{% block container %}

<h3>{{ part.title }}</h3>

<form action='/comment/add' method='post'>
<div>
    <input type='hidden' name='p_id' value='{{ part.id }}'>
    <input type='hidden' name='device_id' value='{{ device_id }}'>
    <input type='text' name='nickname' placeholder='닉네임'>
    <br>
    <textarea name='comment' rows='8' cols='40'>
        
    </textarea>
    <br>
    <small>최대 300자까지 입력</small>
	<button>등록하기</button>
</div>
</form>

<hr>

<ul>
	{% for comment in comments %}
    <li>
	    <div>
	    작성자: {{ comment.nickname }} - {{ comment.timestamp }}
	    </div>
	    <div>
	        <p>{{ comment.comment }}</p>
	 	</div>
	{% endfor %}
    </li>
</ul>

{% endblock %}