{% extends '/admin/base.twig' %}

{% block container %}
<ul class="nav nav-tabs">
    <li class="active"><a href="/admin/buyer/list">회원 목록</a></li>
    <li><a href="/admin/buyer/bloc/verify">회원 검증</a></li>
    <li><a href="/admin/buyer/bloc/search">회원 일괄 검색</a></li>
    <li><a href="/admin/buyer/bloc/coin">코인 일괄 지급/회수</a></li>
    <li><a href="/admin/buyer/bloc/coin/period_reduce">기간제 코인 회수</a></li>
</ul>

<table class='table'>
    <colgroup>
        <col class="span1">
        <col class="span7">
    </colgroup>
    <tr>
        <th>유저 ID</th>
        <td>{{ buyer.id }}</td>
    </tr>
    <tr>
        <th>구글 계정</th>
        <td>{{ buyer.google_id }}</td>
    </tr>
    <tr>
        <th>구글 계정 등록일</th>
        <td>{{ buyer.google_reg_date }}</td>
    </tr>
    <tr>
        <th>리디북스 계정</th>
        <td>{{ buyer.ridibooks_id }}</td>
    </tr>
    <tr>
        <th>남은 코인 수</th>
        <td>{{ buyer.coin_balance }}</td>
    </tr>
    <tr>
        <th>코인 추가</th>
        <td>
            <select id='coin_add_source'>
                <option value='IN_EVENT' selected>이벤트</option>
                <option value='IN_TEST'>테스트</option>
                <option value='IN_PART_REFUND'>파트 환불</option>
            </select>
            <input type='text' class='input' id='coin_add_amount' placeholder='추가할 코인 갯수를 입력해주세요.' /> <button class='btn btn-success add_coin' style='margin-top:-11px;'>추가</button>
        </td>
    </tr>
    <tr>
        <th>코인 감소</th>
        <td>
            <select id='coin_reduce_source'>
                <option value='OUT_WITHDRAW' selected>회수</option>
                <option value='OUT_COIN_REFUND'>코인 환불</option>
            </select>
            <input type='text' class='input' id='coin_reduce_amount' placeholder='감소시킬 코인 갯수를 입력해주세요.' /> <button class='btn btn-danger delete_coin' style='margin-top:-11px;'>감소</button>
        </td>
    </tr>
</table>

<section class='row'>
    <div class='span4'>
        <h4>코인 구매 ({{ total_coin_count.in }}개)</h4>
        <table class='table'>
            <tr>
                <td><b>구입일</b></td>
                <td><b>갯수</b></td>
                <td><b>구입처</b></td>
            </tr>
            {% for coin in coin_in %}
                <tr>
                    <td>{{ coin.timestamp }}</td>
                    <td>{{ coin.amount }}</td>
                    <td>
                        {% if coin.source == 'IN_INAPP'  %}
                            인앱결제
                        {% elseif coin.source == 'IN_RIDI' %}
                            리디캐시
                        {% elseif coin.source == 'IN_TEST' %}
                            테스트
                        {% elseif coin.source == 'IN_EVENT' %}
                            이벤트
                        {% elseif coin.source == 'IN_PART_REFUND' %}
                            파트환불
                        {% else %}
                            기타
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class='span8'>
        <h4>코인 사용 ({{ total_coin_count.out }}개)</h4>
        <table class='table'>
            <tr>
                <td><b>사용일</b></td>
                <td><b>갯수</b></td>
                <td><b>책 ID</b></td>
                <td><b>책 제목</b></td>
                <td><b>파트 제목</b></td>
                <td><b>사용처</b></td>
            </tr>
            {% for coin in coin_out %}
                <tr>
                    <td>{{ coin.timestamp }}</td>
                    <td>{{ coin.amount }}</td>
                    <td>{{ coin.b_id }}</td>
                    <td><a href="/admin/book/{{ coin.b_id }}">{{ coin.b_title }}</a></td>
                    <td>
                        {% if coin.p_id != '' %}
                            <a href="/admin/part/{{ coin.p_id }}">{{ coin.seq }}. {{ coin.title }}</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if coin.source == 'OUT_BUY_PART'  %}
                            파트구매
                        {% elseif coin.source == 'OUT_COIN_REFUND' %}
                            코인환불
                        {% elseif coin.source == 'OUT_WITHDRAW' %}
                            회수
                        {% else %}
                            기타
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</section>

<h4>구매내역</h4>
<table class='table'>
    <tr>
        <td><b>구매일</b></td>
        <td><b>책 ID</b></td>
        <td><b>책 제목</b></td>
        <td><b>파트 ID</b></td>
        <td><b>파트 제목</b></td>
        <td><b>가격</b></td>
        <td><b>삭제</b></td>
    </tr>
    {% for purchase in purchases %}
        <tr>
            <td>{{ purchase.timestamp }}</td>
            <td>{{ purchase.b_id }}</td>
            <td><a href='/admin/book/{{ purchase.b_id }}'>{{ purchase.b_title }}</a></td>
            <td>{{ purchase.p_id }}</td>
            <td><a href='/admin/part/{{ purchase.p_id }}'>{{ purchase.p_seq }}. {{ purchase.p_title }}</a></td>
            <td>{{ purchase.coin_amount }}</td>
            <td><button class='btn btn-danger delete_purchase' style='margin-top:-5px;' value='{{ purchase.id }}'>삭제</button></td>
        </tr>
    {% endfor %}
</table>

<div class='form-actions'>
    <button class='btn btn-cancel'>목록으로</button>
</div>

{% endblock %}

{% block script %}
    <script>
        $(function() {

            $('.btn-cancel').click(function() {
                location.href = '/admin/buyer/list';
                return false;
            });

            $('.add_coin').click(function() {
                var coin_source = $('#coin_add_source').val();
                var coin_amount = $('#coin_add_amount').val();
                if (confirm('코인을 추가하시겠습니까?')) {
                    $.post('/admin/buyer/{{ buyer.id }}/coin/add', {'source': coin_source, 'coin_amount': coin_amount}, function(r) {
                        if (r.error) {
                            alert(r.error);
                        } else {
                            location.href = '/admin/buyer/{{ buyer.id }}';
                        }
                    })
                }
                return false;
            });

            $('.delete_coin').click(function() {
                var coin_source = $('#coin_reduce_source').val();
                var coin_amount = $('#coin_reduce_amount').val();

                if (coin_amount > {{ buyer.coin_balance }}) {
                    alert('감소시키려는 코인이, 현재 보유하고 있는 코인보다 많습니다.');
                } else {
                    if (confirm('코인을 감소시키겠습니까?')) {
                        $.post('/admin/buyer/{{ buyer.id }}/coin/reduce', {'source': coin_source, 'coin_amount': coin_amount}, function(r) {
                            if (r.error) {
                                alert(r.error);
                            } else {
                                location.href = '/admin/buyer/{{ buyer.id }}';
                            }
                        })
                    }
                }
            });

            $('.delete_purchase').click(function() {
                var ph_id = $(this).val();
                if (confirm('정말로 삭제하시겠습니까?')) {
                    var refund_coin = 1;
                    if (confirm('회원에게 해당 파트 구매에 사용한 코인을 반환하시겠습니까?\n\n확인: 코인 반환\n취소: 코인 회수')) {
                        // 코인 반환
                        refund_coin = 1;
                    } else {
                        refund_coin = 0;
                    }

                    $.post('/admin/buyer/{{ buyer.id }}/purchase_history/delete', {'ph_id': ph_id, 'refund_coin': refund_coin}, function(r) {
                        if (r.error) {
                            alert(r.error);
                        } else {
                            location.href = '/admin/buyer/' + {{ buyer.id}};
                        }
                    });
                }
                return false;
            });
        });
    </script>
{% endblock %}