{% extends '/admin/base.twig' %}

{% block container %}
    <ul class="nav nav-tabs">
        <li><a href="/admin/buyer/list">회원 목록</a></li>
        <li><a href="/admin/buyer/bloc/verify">회원 검증</a></li>
        <li><a href="/admin/buyer/bloc/search">회원 일괄 검색</a></li>
        <li><a href="/admin/buyer/bloc/coin">코인 지급/회수</a></li>
        <li class="active"><a href="/admin/buyer/bloc/coin/period_reduce">기간제 코인 회수</a></li>
        <li><a href="/admin/buyer/migration_history">회원 계정이전 히스토리</a></li>
    </ul>

    <form method='post'>
        <table class='table'>
            <tr>
                <td colspan="2">* 코인은 '<b>회수</b>' 항목으로 일괄 회수됩니다.</td>
            </tr>
            <tr>
                <th>유저 ID</th>
                <td>
                    <textarea rows='8' class='input-xlarge' name='user_list'>{{ user_list }}</textarea>
                    * 코인을 회수할 회원(유저 ID) 목록을 입력해주세요. (구분은 엔터(줄바꿈)로 해주세요.)
                </td>
            </tr>
            <tr>
                <th>기준 코인 갯수</th>
                <td>
                    <input type='text' class='input-xlarge' name='standard_coin_amount' value='{{ standard_coin_amount }}' placeholder='지급했던 코인 갯수를 입력해주세요' /> * 기준 코인보다 적게 사용한 경우, 잔량이 회수됩니다.
                </td>
            </tr>
            <tr>
                <th rowspan="2">사용일</th>
                <td>
                    <input type='text' class='input-xlarge' name='begin_date' value='{{ begin_date }}' placeholder='0000-00-00 00:00:00' /> * 예) 2014-05-06 07:48:20
                </td>
            </tr>
            <tr>
                <td>
                    <input type='text' class='input-xlarge' name='end_date' value='{{ end_date }}' placeholder='0000-00-00 00:00:00' />
                </td>
            </tr>
        </table>

        <div class='form-actions'>
            <button class='btn btn-cancel'>입력 초기화</button>
            <button type='submit' class='btn btn-danger pull-right'>코인 회수</button>
        </div>
    </form>

    <table class='table'>
        <tr>
            <th>유저 ID</th>
            <th>사용한 코인 수</th>
            <th>회수한 코인 수</th>
        </tr>
        {% for coin_usage in coin_usages %}
            <tr>
                <td>{{ coin_usage.u_id }}</td>
                <td>{{ coin_usage.used_coin }}</td>
                <td>
                    {% if coin_usage.used_coin < standard_coin_amount %}
                        {{ standard_coin_amount - coin_usage.used_coin }}
                    {% else %}
                        0
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}

{% block script %}
    <script>
        $(function() {
            $('.btn-cancel').click(function() {
                location.reload(true);
                return false;
            });
        });
    </script>
{% endblock %}