{% extends '/admin/base.twig' %}

{% block container %}
    <ul class="nav nav-tabs">
        <li><a href="/admin/buyer/list">회원 목록</a></li>
        <li><a href="/admin/buyer/bloc/verify">회원 검증</a></li>
        <li><a href="/admin/buyer/bloc/search">회원 일괄 검색</a></li>
        <li><a href="/admin/buyer/bloc/coin">코인 지급/회수</a></li>
        <li><a href="/admin/buyer/bloc/coin/period_reduce">기간제 코인 회수</a></li>
        <li><a href="/admin/buyer/migration_history">회원 계정이전 히스토리</a></li>
        <li class="active"><a href="/admin/ridibooks_migration/list">리디북스 계정이전 히스토리</a></li>
    </ul>

    <h4>
        리디북스 계정이전 히스토리
        <button class='btn btn-primary' id='js_add_ridibooks_migration' style='margin-bottom: 10px;'>추가</button>
        <button class='btn btn-primary' id='js_add_bloc_ridibooks_migration' style='margin-bottom: 10px;'>일괄 추가</button>
    </h4>
    <form id="admin_ridibooks_migration_form" action='/admin/ridibooks_migration/add' method='post' style='display: none'>
        <div class="well form-inline">
            <input type='text' class='input-small' id='js_user_id' name='u_id' placeholder='유저 ID' style='margin-bottom: 10px;'/><br />
            <input type='text' class='input-xlarge' id='js_ridibooks_id' name='ridibooks_id' placeholder='리디북스 ID' style='margin-bottom: 10px;'/><br />
            <button id='js_submit' class='btn' type='submit'>등록</button>
        </div>
    </form>
    <form id="admin_ridibooks_bloc_migration_form" action='/admin/ridibooks_migration/bloc/add' method='post' style='display: none'>
        <div class="well form-inline">
            <b>* 일괄 추가는 고객님이 등록하신 전환용 리디북스 계정과 이관되는 리디북스 계정이 동일할 때만 사용이 가능합니다.</b><br /><br />
            <textarea rows='8' class='input-xlarge' name='user_list' id='js_user_list'></textarea>
            * 이관에 성공한 회원(유저 ID) 목록을 입력해주세요. (구분은 엔터(줄바꿈)로 해주세요.)<br />
            <button id='js_submit' class='btn' type='submit' style='margin-top: 10px;'>등록</button>
        </div>
    </form>

    <form>
        <div class="well form-inline">
            <h4>계정이전된 회원 검색 (총 {{ migrated_count }}명)</h4>
            <select id='search' name='search_type'>
                <option value='uid'>유저 ID</option>
                <option value='ridibooks_id'>리디북스 ID</option>
            </select>
            <input type='text' class='input-xlarge' name='search_keyword' value='{{ search_keyword }}' placeholder='검색어를 입력해주세요.' />
            <button class="btn">검색</button>
        </div>
    </form>

    <table class='table table-hover'>
        <thead>
        <tr>
            <th>유저 ID</th>
            <th>계정이전 리디북스 ID</th>
            <th>계정 이전일</th>
            {#<th>삭제</th>#}
        </tr>
        </thead>
        <tbody id='js_tbody'>
        {% for migration in migrations %}
            <tr data-uid='{{ migration.u_id }}'>
                <td><a href='/admin/buyer/{{ migration.u_id }}'>{{ migration.u_id }}</a></td>
                <td>{{ migration.ridibooks_id }}</td>
                <td>{{ migration.migration_time }}</td>
                {#<td>#}
                    {#<form method='post' action='/admin/ridibooks_migration/{{ migration.u_id }}/delete' style='margin: 0; padding: 0;'>#}
                        {#<button type='submit' class='btn btn-danger btn-mini'><i class='icon-remove icon-white'></i></button>#}
                    {#</form>#}
                {#</td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="pager">
        <li class="previous">
            {% if cur_page - 1 < 0 %}
                <a href="/admin/ridibooks_migration/list?page=0">&larr; Newer</a>
            {% else %}
                <a href="/admin/ridibooks_migration/list?page={{ cur_page - 1 }}">&larr; Newer</a>
            {% endif %}
        </li>
        <li class="next">
            <a href="/admin/ridibooks_migration/list?page={{ cur_page + 1 }}">Older &rarr;</a>
        </li>
    </ul>

{% endblock %}

{% block script %}
    <script>
        $(function() {
            $('#search').val('{{ search_type }}');

            $('#js_add_ridibooks_migration').click(function() {
                if ($(this).text() == '추가') {
                    $(this).text('취소');
                    $('#admin_ridibooks_migration_form').show();

                    $('#js_add_bloc_ridibooks_migration').text('일괄 추가');
                    $('#admin_ridibooks_bloc_migration_form').hide();
                } else {
                    $(this).text('추가');
                    $('#admin_ridibooks_migration_form').hide();
                }
            });

            $('#admin_ridibooks_migration_form').submit(function() {
                var u_id = $(':input[name=u_id]').val();
                var ridibooks_id = $(':input[name=ridibooks_id]').val();

                if ($.trim(u_id) == '' || $.trim(ridibooks_id) == '') {
                    alert('유저 ID와 리디북스 ID를 모두 입력해 주세요');
                    return false;
                }

                $('#js_submit').hide();

                return true;
            });

            $('#js_add_bloc_ridibooks_migration').click(function() {
                if ($(this).text() == '일괄 추가') {
                    $(this).text('취소');
                    $('#admin_ridibooks_bloc_migration_form').show();

                    $('#js_add_ridibooks_migration').text('추가');
                    $('#admin_ridibooks_migration_form').hide();
                } else {
                    $(this).text('일괄 추가');
                    $('#admin_ridibooks_bloc_migration_form').hide();
                }
            });

            $('#admin_ridibooks_bloc_migration_form').submit(function() {
                var u_ids = $('#js_user_list').val();

                if ($.trim(u_ids) == '') {
                    alert('유저 ID 목록을 입력해 주세요');
                    return false;
                }

                $('#js_submit').hide();

                return true;
            });
        });
    </script>
{% endblock %}
