{% extends '/admin/base.twig' %}

{% block container %}
    <ul class="nav nav-tabs">
        <li><a href="/admin/buyer/list">회원 목록</a></li>
        <li><a href="/admin/buyer/bloc/verify">회원 검증</a></li>
        <li><a href="/admin/buyer/bloc/search">회원 일괄 검색</a></li>
        <li><a href="/admin/buyer/bloc/coin">코인 지급/회수</a></li>
        <li><a href="/admin/buyer/bloc/coin/period_reduce">기간제 코인 회수</a></li>
        <li><a href="/admin/buyer/migration_history">회원 계정이전 히스토리</a></li>
        <li class="active"><a href="/admin/buyer/cashslide_event">캐시슬라이드 이벤트(임시)</a></li>
    </ul>

    <h4>캐시슬라이드 이벤트 v4.14 가입자 목록</h4>

    <table class='table table-hover'>
        <thead>
        <tr>
            <th class='span1'>유저 ID</th>
            <th>구글 계정</th>
            <th>구글 계정 등록일</th>
            <th>DeviceID(IMEI)</th>
        </tr>
        </thead>
        <tbody id='js_tbody'>
        {% for buyer in buyers %}
            <tr>
                <td>{{ buyer.id }}</td>
                <td>{{ buyer.google_id }}</td>
                <td>{{ buyer.google_reg_date }}</td>
                <td>{{ buyer.cashslide_device_id }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="pager">
        <li class="previous">
            {% if cur_page - 1 < 0 %}
                <a href="/admin/buyer/cashslide_event?page=0">&larr; Newer</a>
            {% else %}
                <a href="/admin/buyer/cashslide_event?page={{ cur_page - 1 }}">&larr; Newer</a>
            {% endif %}
        </li>
        <li class="next">
            <a href="/admin/buyer/cashslide_event?page={{ cur_page + 1 }}">Older &rarr;</a>
        </li>
    </ul>
{% endblock %}

{% block script %}
    <script>
        $(function() {
            $('#js_tbody tr').hover(function() {
                        $(this).css('cursor', 'pointer');
                    }, function() {
                        $(this).css('cursor', '');
                    }
            );
        });
    </script>
{% endblock %}