{% extends '/admin/base.twig' %}

{% block container %}
<form action="/admin/book/{{ book.id }}/edit" method='post'>
<table class='table'>
    <colgroup>
        <col class="span1" />
        <col class="span7" />
    </colgroup>
	<tr>
		<th>스토어ID</th>
		<td><input type='text' class='input-small' name='store_id' value='{{ book.store_id }}' /></td>
	</tr>
	<tr>
		<th>표지</th>
		<td>
		    <img src='{{ book.cover_url }}' style="height:200px;" />
		</td>
	</tr>
	<tr>
		<th>제목</th>
		<td><input type='text' class='input-xlarge' name='title' value='{{ book.title }}' /></td>
	</tr>
	<tr>
		<th>카테고리</th>
		<td><input type='text' class='input' name='category' value='{{ book.category }}' /></td>
	</tr>
    <tr>
        <th>CP</th>
        <td>
            <select name='cp_id'>
                {% for cp in cp_accounts %}
                <option value='{{ cp.id }}'>{{ cp.cp_account_name }}</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    <tr>
        <th>정산율</th>
        <td><input type='text' class='input-mini' name='royalty_percent' value='{{ book.royalty_percent }}' /> %</td>
    </tr>
	<tr>
		<th>저자</th>
		<td><input type='text' class='input' name='author' value='{{ book.author }}' /></td>
	</tr>
	<tr>
		<th>출판사</th>
		<td><input type='text' class='input' name='publisher' value='{{ book.publisher }}' /></td>
	</tr>
	<tr>
		<th>캐치프레이즈</th>
		<td><input type='text' class='input-xxlarge' name='catchphrase' value='{{ book.catchphrase }}' /></td>
	</tr>
	<tr>
		<th>짧은 소개말</th>
		<td><textarea rows='3' class='input-xxlarge' name='short_description' maxlength='256'>{{ book.short_description }}</textarea></td>
	</tr>
	<tr>
		<th>연재 기간</th>
		<td>
		    <div class="form-inline">
		    <input type='text' class='input-medium' name='begin_date' value='{{ book.begin_date }}' />
        	~ <input type='text' class='input-medium' name='end_date' value='{{ book.end_date }}' /> (완결일)
		    </div>
	    </td>
	</tr>
	<tr>
	    <th>연재분</th>
	    <td>
	        <table class='table table-hover table-striped table-condensed'>
                <thead>
                    <tr>
                        <th>파트 제목</th>
                        <th class='span1'>코인</th>
                        <th class='span3'>시작일</th>
                        <th class='span3'>종료일</th>
                        <th class='span1'>상태</th>
                    </tr>
                </thead>
            	<tbody id='js_part_list'>
            		{% for part in parts %}
            		<tr data-cid='{{ part.id }}'>
            			<td><a href='/admin/part/{{ part.id }}'>{{ part.seq }}. {{ part.title }} </a></td>
                        <td>{{ part.price }}</td>
            			<td><span class='begin_date'>{{ part.begin_date }}</span></td>
            			<td>{{ part.end_date }}</td>
                        <td>{{ part.status }}</td>
            		</tr>
            		{% endfor %}
            	</tbody>
            </table>
            <button class='btn btn-small btn-primary pull-right' id='js_add'>파트 추가</button>
        </td>
	</tr>
	<tr>
		<th>연재 정보</th>
		<td>     
            <div class='span5'>
                {% set weekday = ['일', '월', '화', '수', '목', '금', '토'] %}
                {% for i in 0..6 %}
                <label class="checkbox inline">
                    <input type='checkbox' name='upload_days[]' value='{{ 2 ** i }}'>{{ weekday[i] }}</input>
                </label>
                {% endfor %}	                
            </div>
            <div class='span2'>
    		    <label class="radio">
    			    <input type='radio' name='is_completed' value='0'>연재 중</input>
    		    </label>
    		    <label class="radio">
    			    <input type='radio' name='is_completed' value='1'>연재 완료</input>
    		    </label>
            </div>
            <div class='span2'>
    		    <label>총 <input type='text' class='input-small' name='total_part_count' value='{{ book.total_part_count }}'> 회</input>
    		    </label>
		    </div>
	    </td>
	</tr>
    <tr>
        <th>성인</th>
        <td>
            <label class="checkbox">
                <input type='checkbox' name='adult_only' {{ book.adult_only ? 'checked="checked"' }}>성인용인 경우에 체크</input>
            </label>
        </td>
    </tr>
    <tr>
        <th>잠금 기능</th>
        <td>
            <label class="checkbox">
                <input type='checkbox' name='is_active_lock' {{ book.is_active_lock ? 'checked="checked"' }}>잠금 기능을 사용할 경우에 체크</input>
            </label>
        </td>
    </tr>
    <tr>
        <th>완결 후 상태</th>
        <td>
            <label class="radio">
                <input type='radio' name='end_action_flag' value='ALL_FREE'>모두 공개(무료)</input>
            </label>
            <label class="radio">
                <input type='radio' name='end_action_flag' value='ALL_CHARGED'>모두 잠금(유료)</input>
            </label>
            <label class="radio">
                <input type='radio' name='end_action_flag' value='SALES_CLOSED'>판매종료(파트 비공개)</input>
            </label>
            <label class="radio">
                <input type='radio' name='end_action_flag' value='ALL_CLOSED'>게시종료(전체 비공개)</input>
            </label>
        </td>
    </tr>
	<tr>
	    <th>작품 점수</th>
	    <td>
		    <label>
	      	  <input type='text' class='input-small' name='score' value='{{ book.score }}'> 점</input>
	        </label>
	    </td>
	</tr>
    <tr>
        <th>작가의 다른 작품</th>
        <td>
            <table class='table table-hover table-striped table-condensed'>
                <thead>
                <tr>
                    <th class='span2'>책 표지</th>
                    <th class='span2'>스토어 ID</th>
                    <th class='span5'>도서명</th>
                    <th class='span2'></th>
                </tr>
                </thead>
                <tbody id='js_recommend_book_list'>
                {% for recommend_book in recommend_books %}
                    <tr data-rbid='{{ recommend_book.id }}'>
                        <!-- TODO: 추후에 스토어 ID에 마우스 가져다 대면, 책 표지 뜨도록 수정 -->
                        <td><img src='{{ recommend_book.cover_url }}' style="height:100px;" /></td>
                        <td>{{ recommend_book.store_id }}</td>
                        <td>{{ recommend_book.title }}</td>
                        <td><a href='http://ridibooks.com/detail.php?id={{ recommend_book.store_id }}' >[스토어에서 보기]</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <button class='btn btn-small btn-primary pull-right' id='js_add_recommend_book'>다른 작품 추가</button>
        </td>
    </tr>
</table>

<table class='table'>
    <thead>
    	<tr>
    	    <th>작품 소개(상세)</th>
    	    <th>저자 소개(상세)</th>
    	</tr>
	</thead>
    <tbody>
    	<tr>
    		<td><textarea rows='10' style='width: 400px' name='intro_description'>{{ intro.description }}</textarea></td>
    		<td><textarea rows='10' style='width: 400px' name='intro_about_author'>{{ intro.about_author }}</textarea></td>
    	</tr>
	</tbody>
</table>

<div class='form-actions'>
	<button type='submit' class='btn btn-success'>수정 완료</button>
	<button class='btn btn-cancel'>목록으로</button>
	<button class='btn btn-danger pull-right'>삭제</button>
</div>
</form>

{% endblock %}

{% block script %}
<script src="/static/js/vendor/jquery.jeditable.mini.js"></script>
<script>
$(function() {
    $('select option')
            .filter('[value="{{ book.cp_id }}"]')
            .prop('selected', true);
    
    $('input:radio[name="is_completed"]')
    .filter('[value="{{ book.is_completed }}"]')
    .attr('checked', true);

    $('input:radio[name="end_action_flag"]')
            .filter('[value="{{ book.end_action_flag }}"]')
            .attr('checked', true);
    
    // twig 에 bit 연산자가 음슴;;
    $('input:checkbox[name="upload_days[]"]')
    .filter(function(i) {
        return !!({{ book.upload_days }} & (1 << i));
    })
    .attr('checked', true);
    
    $('.btn-cancel').click(function() {
        location.href = '/admin/book/list';
        return false;
    });
    
    $('.btn-danger').click(function() {
        if (confirm('삭제하시겠습니까?')) {
            $.post('/admin/book/{{ book.id }}/delete', function(r) {
                if (r.error) {
                    alert(r.error);
                } else {
                    location.href = '/admin/book/list';
                }
            })
        }
        return false;
    });

    $('#js_add_recommend_book').click(function() {
        location.href = '/admin/recommend_book/add?b_id={{ book.id }}';
        return false;
    });

    $('#js_recommend_book_list tr').click(function() {
        var rb_id = $(this).data('rbid');
        location.href = '/admin/recommend_book/' + rb_id;
    });

    $('#js_recommend_book_list tr').hover(function() {
                $(this).css('cursor', 'pointer');
            }, function() {
                $(this).css('cursor', '');
            }
    );

    $('#js_add').click(function() {
        location.href = '/admin/part/add?b_id={{ book.id }}';
        return false;
    });
    
    $('#js_part_list .begin_date').each(function() {
        var now = new Date('{{ today() }}');
        var begin = new Date($(this).text());
        if (begin - now < 0) {
            $(this).addClass('label label');
    	} else if (begin - now == 0) {
            $(this).addClass('label label-warning');
    	}
    });
});
</script>
{% endblock %}