{% extends '/admin/base.twig' %}

{% block container %}
<form action="/admin/book/{{ book.id }}/edit" method='post'>
<table class='table'>
    <colgroup>
        <col class="span1">
        <col class="span7">
    </colgroup>
	<tr>
		<th>스토어ID</th>
		<td><input type='text' class='input-small' name='store_id' value='{{ book.store_id }}'></input></td>
	</tr>
	<tr>
		<th>표지</th>
		<td>
		    <img src='{{ book.cover_url }}'>
		</td>
	</tr>
	<tr>
		<th>제목</th>
		<td><input type='text' class='input-xlarge' name='title' value='{{ book.title }}'></input></td>
	</tr>
	<tr>
		<th>저자</th>
		<td><input type='text' class='input' name='author' value='{{ book.author }}'></input></td>
	</tr>
	<tr>
		<th>출판사</th>
		<td><input type='text' class='input' name='publisher' value='{{ book.publisher }}'></input></td>
	</tr>
	<tr>
		<th>캐치프레이즈</th>
		<td><input type='text' class='input-xxlarge' name='catchphrase' value='{{ book.catchphrase }}'></input></td>
	</tr>
	<tr>
		<th>짧은 소개말</th>
		<td><textarea rows='3' class='input-xxlarge' name='short_description' maxlength='256'>{{ book.short_description }}</textarea></td>
	</tr>
	<tr>
		<th>연재 기간</th>
		<td>
		    <div class="form-inline">
		    <input type='text' class='input-small' name='begin_date' value='{{ book.begin_date }}'></input>
        	~ <input type='text' class='input-small' name='end_date' value='{{ book.end_date }}'></input>
		    </div>
	    </td>
	</tr>
	<tr>
	    <th>연재분</th>
	    <td>
	        {% embed 'admin/part_list.twig' with {'parts': parts} only %}
	        {% endembed %}
        </td>
	</tr>
	<tr>
		<th>연재 정보</th>
		<td>     
            <div class='span5'>
                {% set weekday = ['일', '월', '화', '수', '목', '금', '토'] %}
                {% for i in 0..6 %}
                <label class="checkbox inline">
                    <input type='checkbox' name='upload_days[]' value='{{ 2 ** i }}'>{{ weekday[i] }}</input>
                </label>
                {% endfor %}	                
            </div>
            <div class='span2'>
    		    <label class="radio">
    			    <input type='radio' name='is_completed' value='0'>연재 중</input>
    		    </label>
    		    <label class="radio">
    			    <input type='radio' name='is_completed' value='1'>연재 완료</input>
    		    </label>
            </div>
            <div class='span2'>
    		    <label>총 <input type='text' class='input-small' name='total_part_count' value='{{ book.total_part_count }}'> 회</input>
    		    </label>
		    </div>
	    </td>
	</tr>
	<tr>
	    <th>작품 점수</th>
	    <td>
		    <label>
	      	  <input type='text' class='input-small' name='score' value='{{ book.score }}'> 점</input>
	        </label>
	    </td>
	</tr>
</table>

<table class='table'>
    <thead>
    	<tr>
    	    <th>작품 소개(상세)</th>
    	    <th>저자 소개(상세)</th>
    	</tr>
	</thead>
    <tbody>
    	<tr>
    		<td><textarea rows='10' style='width: 400px' name='intro_description'>{{ intro.description }}</textarea></td>
    		<td><textarea rows='10' style='width: 400px' name='intro_about_author'>{{ intro.about_author }}</textarea></td>
    	</tr>
	</tbody>
</table>

<div class='form-actions'>
	<button type='submit' class='btn btn-success'>수정 완료</button>
	<button class='btn btn-cancel'>목록으로</button>
	<button class='btn btn-danger pull-right'>삭제</button>
</div>
</form>

{% endblock %}

{% block script %}
<script src="/static/js/vendor/jquery.jeditable.mini.js"></script>
<script>
$(function() {
    
    $('input:radio[name="is_completed"]')
    .filter('[value="{{ book.is_completed }}"]')
    .attr('checked', true);
    
    // twig 에 bit 연산자가 음슴;;
    $('input:checkbox[name="upload_days[]"]')
    .filter(function(i) {
        return !!({{ book.upload_days }} & (1 << i));
    })
    .attr('checked', true);
    
    $('.btn-cancel').click(function() {
        location.href = '/admin/book/list';
        return false;
    })
    
    $('.btn-danger').click(function() {
        if (confirm('삭제하시겠습니까?')) {
            $.post('/admin/book/{{ book.id }}/delete', function(r) {
                if (r.error) {
                    alert(r.error);
                } else {
                    location.href = '/admin/book/list';
                }
            })
        }
        return false;
    });
    
    $('#js_add').click(function() {
        location.href = '/admin/part/add?b_id={{ book.id }}';
        return false;
    })
});
</script>
{% endblock %}