{% extends 'admin/base.twig' %}

{% block container %}
<form action="/admin/book/{{ book.id }}/edit" method='post'>
<table class='table'>
    <colgroup>
        <col class="span1">
        <col class="span7">
    </colgroup>
	<tr>
		<th>스토어ID</th>
		<td><input type='text' class='input-small' name='store_id' value='{{ book.store_id }}'></input></td>
	</tr>
	<tr>
		<th>표지</th>
		<td>
		    <img src='{{ book.cover_url }}'>
		</td>
	</tr>
	<tr>
		<th>제목</th>
		<td><input type='text' class='input-xlarge' name='title' value='{{ book.title }}'></input></td>
	</tr>
	<tr>
		<th>저자</th>
		<td><input type='text' class='input' name='author' value='{{ book.author }}'></input></td>
	</tr>
	<tr>
		<th>짧은 소개말</th>
		<td><input type='text' class='input-xxlarge' name='catchphrase' value='{{ book.catchphrase }}'></input></td>
	</tr>
	<tr>
		<th>시작일</th>
		<td><input type='text' class='input-small' name='begin_date' value='{{ book.begin_date }}'></input></td>
	</tr>
	<tr>
		<th>종료일</th>
		<td><input type='text' class='input-small' name='end_date' value='{{ book.end_date }}'></input></td>
	</tr>
	<tr>
	    <th>연재분</th>
	    <td>
	        {% embed 'admin/part_list.twig' with {'parts': parts} only %}
	        {% endembed %}
	        <button class='btn btn-small btn-primary' id='js_add'>추가</button>
        </td>
	</tr>
	<tr>
		<th>완료 여부</th>
		<td>
		    <label class="radio">
			    <input type='radio' name='is_completed' value='0'>연재 중</input>
		    </label>
		    <label class="radio">
			    <input type='radio' name='is_completed' value='1'>연재 완료</input>
		    </label>
		</td>
	</tr>
</table>
<div class='form-actions'>
	<button class='btn btn-success'>수정</button>
	<button class='btn btn-danger'>삭제</button>
	<button class='btn btn-cancel'>취소</button>
</div>
</form>

{% endblock %}

{% block script %}
<script src="/static/js/vendor/jquery.jeditable.mini.js"></script>
<script>
$(function() {
    
    $('input:radio[name="is_completed"]')
    .filter('[value="{{ book.is_completed }}"]')
    .attr('checked', true);
    
    $('.btn-cancel').click(function() {
        location.href = '/admin/book/list';
        return false;
    })
    
    $('.btn-danger').click(function() {
        if (confirm('삭제하시겠습니까?')) {
            $.post('/admin/book/{{ book.id }}/delete', function(r) {
                if (r.error) {
                    alert(r.error);
                } else {
                    location.href = '/admin/book/list';
                }
            })
        }
        return false;
    });
    
    $('#js_add').click(function() {
        location.href = '/admin/part/add?b_id={{ book.id }}';
        return false;
    })
});
</script>
{% endblock %}