{% extends '/admin/base.twig' %}

{% block container %}
<table class='table'>
    <colgroup>
        <col class="span1">
        <col class="span7">
    </colgroup>
    <tr>
        <th>유저 ID</th>
        <td><input type='text' class='input-xlarge' value='{{ buyer.id }}' disabled /></td>
    </tr>
    <tr>
        <th>구글 계정</th>
        <td><input type='text' class='input-xlarge' value='{{ buyer.google_id }}' disabled /></td>
    </tr>
    <tr>
        <th>구글 계정 등록일</th>
        <td><input type='text' class='input-xlarge' value='{{ buyer.google_reg_date }}' disabled /></td>
    </tr>
    <tr>
        <th>남은 코인 수</th>
        <td><input type='text' class='input-xlarge' value='{{ buyer.coin_balance }}' disabled /></td>
    </tr>
    <tr>
        <th>코인 추가</th>
        <td>
            <select id='coin_add_source'>
                <option value='IN_EVENT' selected>이벤트</option>
                <option value='IN_PART_REFUND' selected>파트 환불</option>
            </select>
            <input type='text' class='input' id='coin_add_amount' placeholder='추가할 코인 갯수를 입력해주세요.' /> <button class='btn btn-success' style='margin-top:-11px;'>추가</button>
        </td>
    </tr>
    <tr>
        <th>코인 감소</th>
        <td>
            <select id='coin_reduce_source'>
                <option value='OUT_WITHDRAW' selected>회수</option>
                <option value='OUT_COIN_REFUND'>코인 환불</option>
            </select>
            <input type='text' class='input' id='coin_reduce_amount' placeholder='감소시킬 코인 갯수를 입력해주세요.' /> <button class='btn btn-danger' style='margin-top:-11px;'>감소</button>
        </td>
    </tr>
</table>

<section class='row'>
    <div class='span4'>
        <h3>코인 구매 ({{ total_coin_count.in }}개)</h3>
        <table class='table'>
            <tr>
                <td><b>구입일</b></td>
                <td><b>갯수</b></td>
                <td><b>구입처</b></td>
            </tr>
            {% for coin in coin_in %}
                <tr>
                    <td>{{ coin.timestamp }}</td>
                    <td>{{ coin.amount }}</td>
                    <td>
                        {% if coin.source == 'IN_INAPP'  %}
                            인앱결제
                        {% elseif coin.source == 'IN_RIDI' %}
                            리디캐시
                        {% elseif coin.source == 'IN_EVENT' %}
                            이벤트
                        {% elseif coin.source == 'IN_PART_REFUND' %}
                            파트환불
                        {% else %}
                            기타
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class='span8'>
        <h3>코인 사용 ({{ total_coin_count.out }}개)</h3>
        <table class='table'>
            <tr>
                <td><b>사용일</b></td>
                <td><b>갯수</b></td>
                <td><b>책 ID</b></td>
                <td><b>책 제목</b></td>
                <td><b>파트 제목</b></td>
                <td><b>사용처</b></td>
            </tr>
            {% for coin in coin_out %}
                <tr>
                    <td>{{ coin.timestamp }}</td>
                    <td>{{ coin.amount }}</td>
                    <td>{{ coin.b_id }}</td>
                    <td><a href="/admin/book/{{ coin.b_id }}">{{ coin.b_title }}</a></td>
                    <td>
                        {% if coin.p_id != '' %}
                            <a href="/admin/part/{{ coin.p_id }}">{{ coin.seq }}. {{ coin.title }}</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if coin.source == 'OUT_BUY_PART'  %}
                            파트구매
                        {% elseif coin.source == 'OUT_COIN_REFUND' %}
                            코인환불
                        {% elseif coin.source == 'OUT_COIN_WITHDRAW' %}
                            회수
                        {% else %}
                            기타
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</section>

<div class='form-actions'>
    <button class='btn btn-cancel'>목록으로</button>
</div>

{% endblock %}

{% block script %}
    <script src="/static/js/vendor/jquery.jeditable.mini.js"></script>
    <script>
        $(function() {

            $('.btn-cancel').click(function() {
                location.href = '/admin/buyer/list';
                return false;
            });

            $('.btn-success').click(function() {
                var coin_source = $('#coin_add_source').val();
                var coin_amount = $('#coin_add_amount').val();
                if (confirm('코인을 추가하시겠습니까?')) {
                    $.post('/admin/buyer/{{ buyer.id }}/coin/add', {'source': coin_source, 'coin_amount': coin_amount}, function(r) {
                        if (r.error) {
                            alert(r.error);
                        } else {
                            location.href = '/admin/buyer/{{ buyer.id }}';
                        }
                    })
                }
                return false;
            });

            $('.btn-danger').click(function() {
                var coin_source = $('#coin_reduce_source').val();
                var coin_amount = $('#coin_reduce_amount').val();

                if (coin_amount > {{ buyer.coin_balance }}) {
                    alert('감소시키려는 코인이, 현재 보유하고 있는 코인보다 많습니다.');
                } else {
                    if (confirm('코인을 감소시키겠습니까?')) {
                        $.post('/admin/buyer/{{ buyer.id }}/coin/reduce', {'source': coin_source, 'coin_amount': coin_amount}, function(r) {
                            if (r.error) {
                                alert(r.error);
                            } else {
                                location.href = '/admin/buyer/{{ buyer.id }}';
                            }
                        })
                    }
                    return false;
                }
            });
        });
    </script>
{% endblock %}