{% extends '/admin/base.twig' %}

{% block container %}
    <ul class="nav nav-tabs">
        <li class="active"><a href="/admin/buyer/list">회원 목록</a></li>
        <li><a href="/admin/buyer/bloc/verify">회원 검증</a></li>
        <li><a href="/admin/buyer/bloc/coin">코인 일괄 지급/회수</a></li>
    </ul>

    <form>
        <div class="well form-inline">
            <h4>회원 검색 (총 {{ buyer_count }}명)</h4>
            <select id='search' name='search_type'>
                <option value='google_account'>구글 계정</option>
                <option value='uid'>유저 ID</option>
            </select>
            <input type='text' class='input-xlarge' name='search_keyword' value='{{ search_keyword }}' placeholder='검색어를 입력해주세요.' />
            <button class="btn">검색</button>
        </div>
    </form>

    <table class='table table-hover'>
        <thead>
        <tr>
            <th class='span1'>유저 ID</th>
            <th>구글 계정</th>
            <th>구글 계정 등록일</th>
            <th>구매 코인 수</th>
            <th>사용 코인 수</th>
        </tr>
        </thead>
        <tbody id='js_tbody'>
        {% for buyer in buyers %}
            <tr data-bid='{{ buyer.id }}'>
                <td>{{ buyer.id }}</td>
                <td>{{ buyer.google_id }}</td>
                <td>{{ buyer.google_reg_date }}</td>
                <td>{{ buyer.total_coin_in }}</td>
                <td>{{ buyer.total_coin_out }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="pager">
        <li class="previous">
            {% if cur_page - 1 < 0 %}
                <a href="/admin/buyer/list?page=0">&larr; Newer</a>
            {% else %}
                <a href="/admin/buyer/list?page={{ cur_page - 1 }}">&larr; Newer</a>
            {% endif %}
        </li>
        <li class="next">
            <a href="/admin/buyer/list?page={{ cur_page + 1 }}">Older &rarr;</a>
        </li>
    </ul>
{% endblock %}

{% block script %}
    <script>
        $(function() {
            $('#search').val('{{ search_type }}');

            $('#js_tbody tr').click(function() {
                var b_id = $(this).data('bid');
                location.href = '/admin/buyer/' + b_id;
            });

            $('#js_tbody tr').hover(function() {
                        $(this).css('cursor', 'pointer');
                    }, function() {
                        $(this).css('cursor', '');
                    }
            );
        });
    </script>
{% endblock %}