{% extends '/admin/base.twig' %}

{% block container %}
    <table class='table table-hover'>
        <thead>
        <tr>
            <th>종류</th>
            <th>SKU</th>
            <th>충전되는 코인 갯수</th>
            <th>보너스 코인 갯수</th>
            <th>판매 가격</th>
        </tr>
        </thead>
        <tbody id='js_tbody'>
        {% for coin in coin_list %}
            <tr data-cid='{{ coin.id }}'>
                <td>{{ get_type(coin.type) }}</td>
                <td>{{ coin.sku }}</td>
                <td>{{ coin.coin_amount }}</td>
                <td>{{ coin.bonus_coin_amount }}</td>
                <td>{{ coin.price }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button class='btn btn-primary' id='js_add'>추가</button>

{% endblock %}

{% block script %}
    <script>
        $(function() {
            $('#js_add').click(function() {
                location.href = '/admin/coin_product/add';
            });

            $('#js_tbody tr').click(function() {
                var coin_id = $(this).data('cid');
                location.href = '/admin/coin_product/' + coin_id;
            });

            $('#js_tbody tr').hover(function() {
                        $(this).css('cursor', 'pointer');
                    }, function() {
                        $(this).css('cursor', '');
                    }
            );
        });
    </script>
{% endblock %}