{% extends '/admin/base.twig' %}

{% block container %}
    <form action="/admin/coin_product/{{ coin.id }}/edit" method='post'>
        <table class='table'>
            <tr>
                <th>종류</th>
                <td>
                    <select name='type'>
                        <option value='GOOGLE'>구글 인앱</option>
                        <option value='RIDICASH'>리디캐시</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>SKU</th>
                <td><input type='text' class='input-xlarge' name='sku' value='{{ coin.sku }}' /></td>
            </tr>
            <tr>
                <th>충전코인수</th>
                <td><input type='text' class='input-xlarge' name='coin_amount' value='{{ coin.coin_amount }}' /></td>
            </tr>
            <tr>
                <th>보너스코인수</th>
                <td><input type='text' class='input-xlarge' name='bonus_coin_amount' value='{{ coin.bonus_coin_amount }}' /></td>
            </tr>
            <tr>
                <th>판매 가격</th>
                <td><input type='text' class='input-xlarge' name='price' value='{{ coin.price }}' /></td>
            </tr>
        </table>

        <div class='form-actions'>
            <button type='submit' class='btn btn-success'>수정 완료</button>
            <button class='btn btn-cancel'>목록으로</button>
            <button class='btn btn-danger pull-right'>삭제</button>
        </div>
    </form>

{% endblock %}

{% block script %}
    <script>
        $(function() {
            $('select option')
                    .filter('[value="{{ coin.type }}"]')
                    .prop('selected', true);

            $('.btn-cancel').click(function() {
                location.href = '/admin/coin_product/list';
                return false;
            });

            $('.btn-danger').click(function() {
                if (confirm('삭제하시겠습니까?')) {
                    $.post('/admin/coin_product/{{ coin.id }}/delete', function(r) {
                        if (r.error) {
                            alert(r.error);
                        } else {
                            location.href = '/admin/coin_product/list';
                        }
                    })
                }
                return false;
            });
        });
    </script>
{% endblock %}