{% extends '/admin/base.twig' %}

{% block container %}
<form>
    <div class="well form-inline">
        <h4>책 제목 검색</h4>
        <select name='search_type'>
            <option value='book_title'>책 제목</option>
            <option value='nickname'>닉네임</option>
            <option value='ip_addr'>IP 주소</option>
        </select>
        <input type='text' class='input-xlarge' name='search_keyword' value='{{ search_keyword }}' placeholder='검색어를 입력해주세요.' />
        <button class="btn">검색</button>
        <span style='display: block; margin-top: 10px;'>
            * IP 주소는 부분 검색이 불가능합니다. 전체 IP 주소를 입력해주세요.
        </span>
    </div>
</form>

<table class='table'>
	<thead>
		<tr>
            <th class='span2'>제목</th>
			<th class='span1'>회차</th>
			<th class='span2'>닉네임</th>
			<th>Comment</th>
			<th class='span2'>Timestamp</th>
			<th class='span1'></th>
		</tr>
	</thead>
	<tbody>
		{% for comment in comments %}
		<tr>
            <td>{{ comment.title }}</td>
			<td><a href="/admin/part/{{ comment.p_id }}">{{ comment.seq }}</a></td>
			<td>{{ comment.nickname }}<br />{{ comment.ip|long2ip }}</td>
			<td>{{ comment.comment }}</td>
			<td>{{ comment.timestamp }}</td>
			<td><button class='btn btn-danger btn-mini' onclick="location.href='/admin/comment/{{ comment.id }}/delete'"><i class="icon-remove icon-white"></i></button></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<ul class="pager">
    <li class="previous">
        {% if cur_page - 1 < 0 %}
            <a href="/admin/comment/list?page=0&search_type={{ search_type }}&search_keyword={{ search_keyword }}">&larr; Newer</a>
        {% else %}
            <a href="/admin/comment/list?page={{ cur_page - 1 }}&search_type={{ search_type }}&search_keyword={{ search_keyword }}">&larr; Newer</a>
        {% endif %}
    </li>
    <li class="next">
        <a href="/admin/comment/list?page={{ cur_page + 1 }}&search_type={{ search_type }}&search_keyword={{ search_keyword }}">Older &rarr;</a>
    </li>
</ul>
{% endblock %}

{% block script %}
<script>
$('#select_all').change(function() {
    if ($(this).is(':checked')) {
    	$(':checkbox[id!="select_all"]').attr('checked', 'checked');
    } else {
        $(':checkbox[id!="select_all"]').removeAttr('checked');
    }
});
</script>
{% endblock %}
