{% extends '/admin/base.twig' %}

{% block container %}
<h4>운영자 댓글 <button class='btn btn-primary' id='js_add_admin_comment' style='margin-bottom: 10px;'>추가</button></h4>
<form id="admin_comment_form" action='/comment/add' method='post' style='display: none;'>
    <div class="well form-inline">
        <input type='hidden' name='is_admin' value='1' />
        <input type='hidden' name='nickname' value='리디스토리' />
        <input type='hidden' name='device_id' value='' />
        <input type='text' class='input-small' id='js_part_id' name='p_id' placeholder='파트 ID' style='margin-bottom: 10px;'/><span id='part_info' style="margin-left: 10px;"></span><br />
        <textarea name='comment' id='input_comment' placeholder='댓글 내용' maxlength='300' style='width: 400px; height:50px;'></textarea><br />
        <p class="char_num">
            <span id='js_char_remain' class="now_num">0</span>/300
        </p>
        <button id='js_submit' class='btn' type='submit'>등록</button>
    </div>
</form>

<form>
    <div class="well form-inline">
        <h4>책 제목 검색</h4>
        <select id='search' name='search_type'>
            <option value='book_title'>책 제목</option>
            <option value='nickname'>닉네임</option>
            <option value='ip_addr'>IP 주소</option>
        </select>
        <input type='text' class='input-xlarge' name='search_keyword' value='{{ search_keyword }}' placeholder='검색어를 입력해주세요.' />
        <button class="btn">검색</button>
        <span style='display: block; margin-top: 10px;'>
            * IP 주소는 부분 검색이 불가능합니다. 전체 IP 주소를 입력해주세요.
        </span>
    </div>
</form>

<table class='table'>
	<thead>
		<tr>
            <th class='span2'>제목</th>
			<th class='span1'>회차</th>
			<th class='span2'>닉네임</th>
			<th>Comment</th>
			<th class='span2'>Timestamp</th>
			<th class='span1'></th>
		</tr>
	</thead>
	<tbody>
		{% for comment in comments %}
		<tr>
            <td>{{ comment.title }}</td>
			<td><a href="/admin/part/{{ comment.p_id }}">{{ comment.seq }}</a></td>
			<td>{{ comment.nickname }}<br />{{ comment.ip|long2ip }}</td>
			<td>{{ comment.comment }}</td>
			<td>{{ comment.timestamp }}</td>
			<td><button class='btn btn-danger btn-mini' onclick="location.href='/admin/comment/{{ comment.id }}/delete'"><i class="icon-remove icon-white"></i></button></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<ul class="pager">
    <li class="previous">
        {% if cur_page - 1 < 0 %}
            <a href="/admin/comment/list?page=0">&larr; Newer</a>
        {% else %}
            <a href="/admin/comment/list?page={{ cur_page - 1 }}">&larr; Newer</a>
        {% endif %}
    </li>
    <li class="next">
        <a href="/admin/comment/list?page={{ cur_page + 1 }}">Older &rarr;</a>
    </li>
</ul>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="/static/js/jquery.autosize.min.js"></script>
    <script>
        $(function() {
            var MAX_COMMENT = 300;

            $('#search').val('{{ search_type }}');

            $('#js_add_admin_comment').click(function() {
                if ($('#js_add_admin_comment').text() == '추가') {
                    $('#js_add_admin_comment').text('취소');
                    $('#admin_comment_form').show();
                } else {
                    $('#js_add_admin_comment').text('추가');
                    $('#admin_comment_form').hide();
                }
            });

            $('#js_part_id').focusout(function() {
                var p_id = $(this).val();
                $('#js_part_id').val(p_id);
                $.getJSON('/api/part/' + p_id, function(data) {
                    var message = $('#part_info');
                    if (data.error) {
                        message.text(data.error);
                    } else {
                        message.text(data.b_title + " (" + data.seq + "회 - " + data.title + ")");
                    }
                });
            });

            $('#input_comment').keyup(function() {
                $('#js_char_remain').text($(this).val().length);
            });

            $('#admin_comment_form').submit(function() {
                try {
                    var comment = $(':input[name=comment]').val();
                    if ($.trim(comment) == '') {
                        alert('댓글을 입력해 주세요');
                        return false;
                    }
                    if ($.trim(comment).length > MAX_COMMENT) {
                        alert('댓글은 ' + MAX_COMMENT + '자 이내로 입력해 주세요.');
                        return false;
                    }
                } catch (e) {
                    console.log(e);
                    return false;
                }

                $('#js_submit').hide();

                return true;
            });

            // 댓글입력창 자동으로 아래로 늘어나게 추가
            $('#input_comment').autosize();
        });
    </script>
{% endblock %}
