{% extends '/admin/base.twig' %}

{% block container %}
<table class='table'>
	<thead>
		<tr>
			<th class='span1'>파트 ID</th>
			<th>Comment</th>
			<th class='span3'>Timestamp</th>
			<th class='span1'></th>
		</tr>
	</thead>
	<tbody>
		{% for comment in comments %}
		<tr>
			<td>{{ comment.p_id }}</td>
			<td>{{ comment.comment }}</td>
			<td>{{ comment.timestamp }}</td>
			<td><button class='btn btn-danger btn-mini' onclick="location.href='/admin/comment/{{ comment.id }}/delete'"><i class="icon-remove icon-white"></i></button></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<ul class="pager">
  <li class="next">
    <a href="/admin/comment/list?page={{ cur_page + 1 }}">Older &rarr;</a>
  </li>
</ul>
{% endblock %}

{% block script %}
<script>
$('#select_all').change(function() {
    if ($(this).is(':checked')) {
    	$(':checkbox[id!="select_all"]').attr('checked', 'checked');
    } else {
        $(':checkbox[id!="select_all"]').removeAttr('checked');
    }
});
</script>
{% endblock %}
