{% extends '/admin/base.twig' %}

{% block container %}
<table class='table table-hover'>
    <thead>
    <tr>
        <th class='span1'>CP ID</th>
        <th>계정명</th>
        <th>담당자1</th>
        <th>계약일</th>
        <th>만료일</th>
        <th>도서 수</th>
        <th>형태</th>
        <!-- 누적 판매 액 + 누적 정산 액 -->
        <th>로그인</th>
    </tr>

    </thead>
    <tbody id='js_tbody'>
    {% for cp in cp_accounts %}
        <tr data-bid='{{cp.id }}'>
            <td>{{ cp.id }}</td>
            <td>{{ cp.cp_account_name }}</td>
            <td><a href='mailto:{{ cp.staff1_email }}' >{{ cp.staff1_name }}</a></td>
            <td>{{ date_format(cp.contract_date) }}</td>
            <td>{{ date_format(cp.end_date) }}</td>
            <td>{{ cp.book_count }}</td>
            <td>
                {% if cp.cp_type == 'Publisher' %}
                    출판사
                {% elseif cp.cp_type == 'Private' %}
                    개인
                {% elseif cp.cp_type == 'AG' %}
                    AG
                {% elseif cp.cp_type == 'Closed' %}
                    폐업
                {% elseif cp.cp_type == 'ETC' %}
                    기타
                {% endif %}
            </td>
            <td><a href='#' >[CP 로그인]</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<button class='btn btn-primary' id='js_add'>추가</button>

{% endblock %}

{% block script %}
<script>
    $(function() {
        $('#js_add').click(function() {
            location.href = '/admin/cp_account/add';
        });

        $('#js_tbody tr').click(function() {
            var b_id = $(this).data('bid');
            location.href = '/admin/cp_account/' + b_id;
        });

        $('#js_tbody tr').hover(function() {
                    $(this).css('cursor', 'pointer');
                }, function() {
                    $(this).css('cursor', '');
                }
        );
    });
</script>
{% endblock %}