{% extends '/admin/base.twig' %}

{% block container %}
    <div class="well well-sm">
        <h3>매출 확인</h3>
        <blockquote>
            <p>총 매출 액: {{ header.total_sales }}원</p>
        </blockquote>
        <blockquote>
            <p>누적 무료 다운로드: {{ header.total_free_download }}건</p>
            <p>누적 유료 다운로드: {{ header.total_charged_download }}건</p>
        </blockquote>
    </div>

    <table class='table table-hover'>
        <thead>
        <tr>
            <th class='span1'>책 ID</th>
            <th>상품명</th>
            <th>CP</th>
            <th>정산율</th>
            <th>상태</th>
            <th>시작일</th>
            <th>무료다운</th>
            <th>유료다운</th>
            <th>판매액</th>
            <th>정산액</th>
        </tr>
        </thead>
        <tbody id='js_tbody'>
        {% for ds in download_sales %}
            <tr data-bid='{{ ds.b_id }}'>
                <td>{{ ds.b_id }}</td>
                <td>{{ ds.title }}</td>
                <td>{{ ds.author }}</td>
                <td>&nbsp;</td>
                <td>{{ ds.status }}</td>
                <td>&nbsp;</td>
                <td>{{ ds.free_download }}건</td>
                <td>{{ ds.charged_download }}건</td>
                <td>{{ ds.total_sales }}원</td>
                <td>&nbsp;</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block script %}
    <script>
        $(function() {

            $('#js_tbody tr').click(function() {
                var b_id = $(this).data('bid');
                location.href = '/admin/download_sales/' + b_id;
            });

            $('#js_tbody tr').hover(function() {
                        $(this).css('cursor', 'pointer');
                    }, function() {
                        $(this).css('cursor', '');
                    }
            );
        });
    </script>
{% endblock %}