{% extends '/admin/base.twig' %}

{% block container %}
<form action="/admin/notice/{{ notice.id }}/edit" method='post'>
<table class='table'>
	<tr>
		<th>제목</th>
		<td><input type='text' class='input-xlarge' name='title' value='{{ notice.title }}' /></td>
	</tr>
	<tr>
		<th>등록일</th>
		<td>
	    	<input type='text' class='input-medium' name='reg_date' value='{{ notice.reg_date }}' placeholder='빈칸이면 오늘' />

		    <label class="radio">
			    <input type='radio' name='is_visible' value='1' />공개
		    </label>
		    <label class="radio">
			    <input type='radio' name='is_visible' value='0' />비공개
		    </label>
	    </td>
	</tr>
    <tr>
        <td colspan="2">
            * 링크 기능을 사용하실 경우, 이동할 주소 앞에 <b>ridistory://openinbrowser/#</b> 을 붙혀주세요<br />
            * 링크 기능은 리디스토리 앱 버전 4.12 부터 작동합니다. (이전 버전에서는, '재시도' 화면이 뜹니다.)<br />
            <xmp style="margin: 0; padding-top: 10px;">예) <a href="ridistory://openinbrowser/#http://naver.com">클릭하세요</a></xmp>
        </td>
    </tr>
	<tr>
		<th>본문</th>
		<td><textarea rows='20' style='width: 600px;' name='message'>{{ notice.message }}</textarea></td>
	</tr>
	<tr>
		<th>본문 미리보기</th>
		<td>
		    <div id='js_preview' class='well' style='width: 600px;'>
		        {{ notice.message|raw|nl2br }}
		    </div>
	    </td>
	</tr>
</table>

<div class='form-actions'>
	<button type='submit' class='btn btn-success'>수정 완료</button>
	<button class='btn btn-cancel'>목록으로</button>
	<button class='btn btn-danger pull-right'>삭제</button>
</div>
</form>

{% endblock %}

{% block script %}
<script>
$(function() {
    
    $('input:radio[name="is_visible"]')
    .filter('[value="{{ notice.is_visible }}"]')
    .attr('checked', true);
    
    $('textarea').change(function() {
        var text = $(this).val();
        text = text.replace(/(\r\n|\r|\n)/g, '<br />');
        $('#js_preview').html(text);
    });
    
    $('.btn-cancel').click(function() {
        location.href = '/admin/notice/list';
        return false;
    });
    
    $('.btn-danger').click(function() {
        if (confirm('삭제하시겠습니까?')) {
            $.post('/admin/notice/{{ notice.id }}/delete', function(r) {
                if (r.error) {
                    alert(r.error);
                } else {
                    location.href = '/admin/notice/list';
                }
            })
        }
        return false;
    });
});
</script>
{% endblock %}