{% extends '/admin/base.twig' %}

{% block container %}
<form action="/admin/part/{{ part.id }}/edit" method='POST'>
<table class='table'>
    <colgroup>
        <col class="span1">
        <col class="span7">
    </colgroup>
	<tr>
		<th>책 ID</th>
		<td><input type='text' class='input-xlarge' name='b_id' value='{{ part.b_id }}' /></td>
	</tr>
	<tr>
		<th>스토어ID</th>
		<td><input type='text' class='input-small' name='store_id' value='{{ part.store_id }}' /></td>
	</tr>
	<tr>
		<th>순서</th>
		<td><input type='text' class='input-small' name='seq' value='{{ part.seq }}' /></td>
	</tr>
    <tr>
        <th>가격</th>
        <td><input type='text' class='input-mini' name='price' value='{{ part.price }}' /> 코인</td>
    </tr>
	<tr>
		<th>제목</th>
		<td><input type='text' class='input' name='title' value='{{ part.title }}' /></td>
	</tr>
	<tr>
		<th>시작일</th>
		<td><input type='text' class='input-medium' name='begin_date' value='{{ part.begin_date }}' /></td>
	</tr>
	<tr>
		<th>종료일</th>
		<td><input type='text' class='input-medium' name='end_date' value='{{ part.end_date }}' /></td>
	</tr>
</table>
<div class='form-actions'>
	<button class='btn btn-success'>저장</button>
	<button class='btn btn-cancel'>취소</button>
	<button class='btn btn-danger pull-right'>삭제</button>
</div>
</form>

{% endblock %}

{% block script %}
<script>
$(function() {
    $('.btn-cancel').click(function() {
        history.back();
        return false;
    });
    
    $('.btn-danger').click(function() {
        if (confirm('삭제하시겠습니까?')) {
            location.href = '/admin/part/{{ part.id }}/delete';
        }
        return false;
    });
    
    var store_id = '{{ part.meta_url }}';
    $.get(store_id, function(data) {
        for (var key in data) {
            $('#js_api_result').append('<tr><th>' + key + '</th><td>' + data[key] + '</td></tr>');
    	}
    });
});
</script>
{% endblock %}