{% extends '/admin/base.twig' %}

{% block container %}
    <form action="/admin/book/recommended_book/{{ recommended_book.id }}/edit" method='POST'>
        <table class='table'>
            <colgroup>
                <col class="span1">
                <col class="span7">
            </colgroup>
            <tr>
                <th>책 ID</th>
                <td>{{ recommended_book.b_id }}</td>
            </tr>
            <tr>
                <th>표지</th>
                <td><img id='js_cover' src='{{ recommended_book.cover_url }}' style="height:200px;" /></td>
            </tr>
            <tr>
                <th>스토어 ID</th>
                <td>
                    <input type='text' class='input-small' id='js_store_id' name='store_id' value='{{ recommended_book.store_id }}' style='margin-right: 10px;' />
                    (스토어 ID를 입력하시면, 자동으로 표지와 도서명을 받아옵니다.)
                </td>
            </tr>
            <tr>
                <th>도서명</th>
                <td><input type='text' class='input-xlarge' id='js_b_title' name='title' value='{{ recommended_book.title }}' /></td>
            </tr>
        </table>
        <div class='form-actions'>
            <button class='btn btn-success'>저장</button>
            <button class='btn btn-cancel'>취소</button>
            <button class='btn btn-danger pull-right'>삭제</button>
        </div>
    </form>

{% endblock %}

{% block script %}
    <script>
        $(function() {
            $('.btn-cancel').click(function() {
                history.back();
                return false;
            });

            $('.btn-danger').click(function() {
                if (confirm('삭제하시겠습니까?')) {
                    location.href = '/admin/book/recommended_book/{{ recommended_book.id }}/delete';
                }
                return false;
            });

            $('#js_store_id').focusout(function() {
                var b_id = $(this).val();
                $('#js_store_id').val(b_id);
                $.getJSON('/api/recommended_book/' + b_id, function(data) {
                    var message = $('#js_b_title');
                    if (data.error) {
                        message.val(data.error);
                    } else {
                        $('#js_cover').attr('src', 'http://misc.ridibooks.com/cover/' + b_id + '/xxlarge');
                        message.val(data.title);
                    }
                });
            });
        });
    </script>
{% endblock %}