{% extends '/admin/base.twig' %}

{% block container %}
    <table class='table'>
        <colgroup>
            <col class="span1">
            <col class="span7">
        </colgroup>

        <tr>
            <th>결제 번호</th>
            <td>{{ coin_sale.id }}</td>
        </tr>
        <tr>
            <th>유저</th>
            <td><a href='/admin/buyer/{{ coin_sale.u_id }}'>{{ coin_sale.u_id }}</a> ({{ coin_sale.google_id }})</td>
        </tr>
        <tr>
            <th>리디북스 ID</th>
            <td>{{ coin_sale.ridibooks_id }}</td>
        </tr>
        <tr>
            <th>주문번호</th>
            <td>{{ coin_sale.t_id }}</td>
        </tr>
        <tr>
            <th>SKU</th>
            <td>{{ coin_sale.sku }}</td>
        </tr>
        <tr>
            <th>결제 시간</th>
            <td>
                {{ coin_sale.purchase_time }}
            </td>
        </tr>
        <tr>
            <th>상태</th>
            <td>
                {% if coin_sale.status == 'OK' %}
                    정상
                {% elseif coin_sale.status == 'REFUNDED' %}
                    <span style="color: #0000FF">환불됨</span>
                {% else %}
                    <span style="color: #FF0000">오류</span>
                {% endif %}
            </td>
        </tr>
    </table>

    <div class='form-actions'>
        <button class='btn btn-cancel'>목록으로</button>
        <button class='btn btn-danger pull-right'>환불</button>
    </div>

{% endblock %}

{% block script %}
    <script>
        $(function() {
            // 정상일 경우에만, 환불 버튼 활성화
            {% if coin_sale.status != 'OK' %}
            $('.btn-danger').attr('disabled', 'disabled');
            {% endif %}

            // 목록으로
            $('.btn-cancel').click(function() {
                location.href = '/admin/ridicash_sales/list';
                return false;
            });

            // 환불
            $('.btn-danger').click(function() {
                if (confirm('환불한 다음 꼭! 리디북스에서 환불 처리를 하셔야합니다. 정말로 환불하시겠습니까?')) {
                    $.post('/admin/ridicash_sales/{{ coin_sale.id }}/refund', {'payment': 'RIDICASH'}, function(r) {
                        if (r.error) {
                            alert(r.error);
                        } else {
                            location.href = '/admin/ridicash_sales/{{ coin_sale.id }}';
                        }
                    })
                }
                return false;
            });
        });
    </script>
{% endblock %}