{% extends '/admin/base.twig' %}

{% block container %}
    <form>
        <div class="well form-inline">
            <h4>기간 설정</h4>
            <input type='text' class='input-medium' name='begin_date' value='{{ begin_date }}' placeholder='0000-00-00' />
            ~
            <input type='text' class='input-medium' name='end_date' value='{{ end_date }}' placeholder='0000-00-00' />
            <button class="btn">조회</button>
        </div>
    </form>

    <div class="well form-inline">
        <h4>코인 구매 지표</h4>
        <table class='table'>
            <thead>
            <tr>
                <th>날짜</th>
                <th>구매유저수</th>
                <th>구입코인수</th>
                <th>보너스지급코인수</th>
                <th>충전된코인총계</th>
                <th>환불된코인총계</th>
                <th>코인구매액총계</th>
                <th>코인환불액총계</th>
                <th>총계</th>
            </tr>
            </thead>
            <tbody>
            {% for bc in buy_coins %}
                <tr>
                    <td>{{ bc.purchase_date }}</td>
                    <td>{{ bc.user_count }}</td>
                    <td>{{ bc.coin_amount }}</td>
                    <td>{{ bc.bonus_coin_amount }}</td>
                    <td>{{ bc.total_coin_amount }}</td>
                    <td>{{ bc.refunded_total_coin_amount }}</td>
                    <td>{{ bc.total_buy_sales|number_format(0, '', ',') }}</td>
                    <td>{{ bc.total_refunded_sales|number_format(0, '', ',') }}</td>
                    <td>{{ bc.total_sales|number_format(0, '', ',') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}