{% extends '/admin/base.twig' %}

{% block container %}
<section class='row'>
    <div class='span6'>
    <h3>기기등록 ({{ total_registered }})</h3>
    <table class='table'>
    	<tr>
    		<td><b>DATE</b></td>
    		<td><b>iOS</b></td>
    		<td><b>Android</b></td>
    		<td><b>TOTAL</b></td>
    	</tr>
        {% for r in register_stat %}
        <tr>
            <td>{{ r.date }}</td>
            <td>{{ r.ios }}</td>
            <td>{{ r.android }}</td>
            <td>{{ r.total }}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
    <div class='span6'>
    <h3>다운로드 ({{ total_downloaded }})</h3>
    <table class='table'>
        {% for p in download_stat %}
        <tr>
        	<td>{{ p.p_id}}</td>
            <td>{{ p.title }}</td>
            <td>{{ p.download_count }}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
</section>

<hr class='separator'>

<section class='row'>
    <div class='span6'>
    <h3>알림받기 설정수</h3>
    <table class='table'>
        {% for p in interest_stat %}
        <tr>
        	<td>{{ p.title }}</td>
            <td>{{ p.interested }}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
</section>

<hr class='separator'>

<section class='row' id='js_tooltip'>
    <div class='span6'>    
        <h3>댓글이 많은 파트</h3>
        <table class='table'>
            <tr>
               <th>파트</th> 
               <th>댓글수</th> 
            </tr>
            {% for p in most_comment_parts %}
            <tr>
                <td><a href='#' data-toggle='tooltip' title='{{ p.title }}'>{{ p.seq }}. {{ p.part_title }}</a></td>
                <td>{{ p.num_comment }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class='span6'>    
        <h3>댓글이 적은 파트</h3>
        <table class='table'>
            <tr>
               <th>파트</th> 
               <th>댓글수</th> 
            </tr>
            {% for p in least_comment_parts %}
            <tr>
                <td><a href='#' data-toggle='tooltip' title='{{ p.title }}'>{{ p.seq }}. {{ p.part_title }}</a></td>
                <td>{{ p.num_comment }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</section>
{% endblock %}


{% block script %}
<script>
$(function() {
	$('#js_tooltip').tooltip({
	    selector: "a[data-toggle=tooltip]"
    })
});
</script>
<!--script src="assets/js/bootstrap-tooltip.js"></script-->
{% endblock %}
