{% extends '/admin/base.twig' %}

{% block container %}

    <form>
        <div class="well form-inline">
            <h4>기간 설정</h4>
            <input type='text' class='input-medium' name='begin_date' value='{{ begin_date }}' disabled>
            ~
            <input type='text' class='input-medium' name='end_date' value='{{ end_date }}' placeholder='빈칸이면 오늘'>
            <button class="btn">조회</button>
        </div>
    </form>

    <section class='row'>
        <div class='span12'>
            <h3>각 도서별 알림 수 </h3>
            <table class='table'>
                <tr>
                    <td><b>B_ID</b></td>
                    <td><b>TITLE</b></td>
                    <td><b>COUNT</b></td>
                </tr>
                {% for item in interests_per_book %}
                    <tr>
                        <td>{{ item.b_id }}</td>
                        <td>{{ item.title }}</td>
                        <td>{{ item.count }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </section>


    <hr class='separator'>

    <section class='row'>
        <div class='span12'>
            <h3>각 도서별 좋아요 수</h3>
            <table class='table'>
                <tr>
                    <td><b>B_ID</b></td>
                    <td><b>TITLE</b></td>
                    <td><b>연재회차</b></td>
                    <td><b>좋아요</b></td>
                    <td><b>회차당평균좋아요</b></td>
                </tr>
                {% for item in likes_per_book %}
                    <tr>
                        <td>{{ item.b_id }}</td>
                        <td>{{ item.title }}</td>
                        <td>{{ item.count }}</td>
                        <td>{{ item.sum }}</td>
                        <td>{{ item.avg }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </section>

{% endblock %}
