
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>RIDI Story CP Manager</title>
    <meta name="description" content="">
    <!--<meta name="viewport" content="width=device-width">-->

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/datepicker.css">
    <!--<link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css">-->
    {% block css %}
    {% endblock %}
    <style>
        .header h1 {
            font-size: 40px;
            font-weight: 200;
            color: white;
            letter-spacing: -0.1ex;
            text-shadow: 0 1px 1px #666;
            float: left;
        }
        .header .info {
            margin-top: 20px;
            float: right;
        }
    </style>
    <script src="/static/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <script type="text/javascript">

        function move_home_page() {
            location.href='/cp_admin/';
        }

        function move_my_info_page() {
            location.href='/cp_admin/my_info';
        }

        function move_logout_page() {
            location.href='/cp_admin/logout';
        }
    </script>
</head>
<body>
<header class="header">
    <div class="container">
        <h1 onclick="move_home_page()">RIDI Story CP Manager</h1>
        <div class="info" id="cp_btn_area">
            <button class="btn" style="margin-right: 5px;" onclick="move_my_info_page()">내 정보</button>
            <button class="btn" onclick="move_logout_page()">로그아웃</button>
        </div>
        {% block header %}
        {% endblock %}
    </div>
</header>

<div class="container">
    {% for alert in app.session.getFlashBag.get('alert') %}
        {% for key in alert|keys %}
            <div class='alert alert-{{ key }}'>
                <button class="close" data-dismiss="alert">&times;</button>
                {{ alert[key] }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="well" id="cp_info_area">
        <div class='cp_info' style="float: left;">
            <h3>{{ cp.name }}</h3>
            <blockquote>
                <p>{{ cp.cp_site_id }}</p>
            </blockquote>
        </div>
        <div class='total_calculates' style="float: right; margin-top: 15px;">
            <blockquote>
                <p>총 다운로드: <b>{{ header.total_download }}건</b></p>
                <p>총 판매액: <b>{{ (header.total_sales * 90)|number_format(0, '', ',') }}원</b></p>
                <p>총 정산액: <b>{{ header.total_sales_royalty|number_format(0, '', ',') }}원</b></p>
            </blockquote>
        </div>

        <div style="clear: both;"></div>
    </div>

    {% block container %}
    {% endblock %}
</div> <!-- /container -->

<footer class="footer">
    <div class="container">
        <ul class="footer-links">
            <li>
                이용 문의: 한은미(<a href="mailto:sherlock@ridicorp.com">sherlock@ridicorp.com</a>)
            </li>
        </ul>
        <p>
            <br />RIDIStory | 리디(주)<br />
            서울시 강남구 대치동 891-46 V&S빌딩 14층 / 대표이사 배기식<br />
            통신판매업신고 제2009-서울강남-02139호<br />
            Copyright © RIDI Corp. All Rights Reserved.
        </p>
    </div>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/static/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

<script src="/static/js/vendor/bootstrap.min.js"></script>
<script src="/static/js/bootstrap-datepicker.js"></script>
{% block script %}
{% endblock %}
</body>
</html>
