{% extends '/cp_admin/base.twig' %}

{% block container %}
    <style>
        .total_calculates {display: none;}
    </style>

    <table class='table'>
        <colgroup>
            <col class="span1">
            <col class="span7">
        </colgroup>
        <tr>
            <th>책제목</th>
            <td>{{ download_sales.title }}</a></td>
        </tr>
        <tr>
            <th>정산율</th>
            <td>{{ download_sales.royalty_percent }}%</td>
        </tr>
        <tr>
            <th>다운로드</th>
            <td>{{ footer.total_download }}건</td>
        </tr>
        <tr>
            <th>정산액</th>
            <td>{{ (footer.total_sales * (download_sales.royalty_percent/100) * 90)|number_format(0, '', ',') }}원</td>
        </tr>
        <tr>
            <th>조회 기간</th>
            <td>
                {% if search_date.begin_date == '' and search_date.end_date == '' %}
                    전체
                {% elseif search_date.begin_date != '' and search_date.end_date == '' %}
                    {{ search_date.begin_date }} ~ 현재
                {% elseif search_date.begin_date == '' and search_date.end_date != '' %}
                    연재시작 ~ {{ search_date.end_date }}
                {% else %}
                    {{ search_date.begin_date }} ~ {{ search_date.end_date }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>연재별 판매</th>
            <td>
                <table class='table table-hover table-striped table-condensed'>
                    <thead>
                    <tr>
                        <th>파트 제목</th>
                        <th>판매가격</th>
                        <th>다운로드 수</th>
                        <th>누적 판매 액</th>
                    </tr>
                    </thead>

                    <tbody id='js_part_list'>
                    {% for dsd in download_sales_detail %}
                        <tr data-cid='{{ part.id }}'>
                            <td>{{ dsd.seq }}. {{ dsd.title }}</td>
                            <td>{{ (dsd.price * 90)|number_format(0, '', ',') }}</td>
                            <td>{{ dsd.charged_download }}</td>
                            <td>{{ (dsd.total_coin_amount * 90)|number_format(0, '', ',') }}</td>
                        </tr>
                    {% endfor %}
                        <tr class="info">
                            <td colspan='2' ><b>총</b></td>
                            <td><b>{{ footer.total_download }}</b></td>
                            <td><b>{{ (footer.total_sales * 90)|number_format(0, '', ',') }}원</b></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>

    <div class='form-actions'>
        <button class='btn btn-cancel'>목록으로</button>
    </div>

{% endblock %}

{% block script %}
    <script src="/static/js/vendor/jquery.jeditable.mini.js"></script>
    <script>
        $(function() {

            $('.btn-cancel').click(function() {
                history.back();
                return false;
            });
        });
    </script>
{% endblock %}