{% extends '/admin/base.twig' %}

{% block container %}
<ul class="nav nav-tabs">
    <li><a href="/admin/book/list">연재물 목록</a></li>
    <li class="active"><a href="/admin/book/manage_score">인기순 관리</a></li>
</ul>

<h4>인기순 관리</h4>
<form id='batch_form' method='post'>
<table id='js_table' class='table'>
    <thead>
    <tr>
        <th class='span1'></th>
        <th class='span1'>책 ID</th>
        <th>제목</th>
        <th class='span2'>시작일</th>
        <th class='span1'>순서</th>
    </tr>
    </thead>
    <tbody id='js_tbody'>
    {% set i = 1 %}
    {% for book in books %}
        <tr id='{{ book.id }}'>
            <td class="js_drag_handle" style='text-align: center;'><i class='icon-th'></i></td>
            <td>{{ book.id }}</td>
            <td>{{ book.title }}
                {% if book.adult_only %}
                    <i class='icon-heart'></i>
                {% endif %}
            </td>
            <td>{{ book.begin_date }}</td>
            <td>
                <span id='js_order_show_{{ book.id }}' style='font-weight: bold'>{{ i }}</span>
                <input id='js_order_{{ book.id }}' type='hidden' name='orders[{{ book.id }}]' value='{{ i }}' />
            </td>
            {% set i = i + 1 %}
        </tr>
    {% endfor %}
    </tbody>
</table>
    <button class='btn btn-success pull-right'>순서 변경(저장)</button>
</form>
{% endblock %}

{% block script %}
    <style type='text/css'>
        .while_drag td {
            color: #ffffff;
            background-color: #666666;
        }

        .js_drag_handle {
            cursor: move;
        }
    </style>

    <script src="/static/bower_components/TableDnD/js/jquery.tablednd.js"></script>
    <script>
        $(function() {
            $("#js_table").tableDnD({
                onDragClass: 'while_drag',

                onDrop: function(table, row) {
                    reOrderTable(table);
                },

                dragHandle: ".js_drag_handle"
            });

            $('.btn-success').click(function() {
                var form = document.getElementById('batch_form');
                form.action = '/admin/book/manage_score/edit';
                form.submit();
            });
        });

        // 순서 다시 매김
        function reOrderTable(table) {
            var rows = table.tBodies[0].rows;

            for (var i=0; i<rows.length; i++) {
                var index = i + 1;

                $('#js_order_' + rows[i].id).val(index);
                $('#js_order_show_' + rows[i].id).html(index);
            }
        }
    </script>
{% endblock %}