{% extends '/base.twig' %}
{% block container %}
<section class="comment">
	<article class="comment_wrap">
		<div class="module_title2">
			<h2 class="title">{{ part.seq }}회. {{ part.title }}</h2>
			<hr class="clear_both" />
		</div>
        <div class="comment_by_author">
            <div class="title">작가의 말</div>
            <p class="comment">{{ part.author_comment }}</p>
        </div>
		<div class="comment_tab">
			<div class="tab_off">
                <p class="comment_num">
                    댓글
                    <span class="num">{{ num_comments }}</span>
                </p>
                <button id="js_toggle_form" class="default_btn btn_tab_open">댓글 쓰기</button>
			</div>
			<div id='js_write_form' class="tab_on" style='display: none;'>
				<form action='/comment/add' method='post'>
                    <input type='hidden' name='p_id' value='{{ part.id }}'>
                    <input type='hidden' name='device_id' value='{{ device_id }}'>
					<input type="text" name='nickname' class="input_nick" placeholder="닉네임을 입력하세요"/>
					<textarea name="comment" id="input_comment" placeholder="댓글을 입력하세요" maxlength='300'></textarea>
					<p class="char_num">
                        <span id='js_char_remain' class="now_num">0</span>/300
                    </p>
					<button id="js_submit" class="default_btn btn_submit" type="submit">댓글 등록</button>
				</form>
				<hr class="clear_both" />
			</div>
		</div>
		<div class="comment_list">
			<ul class="list_wrap">
                {% for item in admin_comments %}
                    <li class="contents_admin">
                        <div class="contents_wrap">
                            <p class="contents_info">
                                <span class="info_id">{{ item.nickname }}</span>
                                <span class="info_date">{{ item.timestamp }}</span>
                            </p>
                            <p class="contents_text">{{ item.comment|e }}</p>
                        </div>
                    </li>
                {% endfor %}

                {% for item in comments %}
                    <li>
                        <div class="contents_wrap">
                            <p class="contents_info">
                                <span class="info_id">{{ item.nickname }}</span>
                                <span class="info_date">{{ item.timestamp }}</span>
                                {% if item.device_id == device_id %}
                                <span class="trash">
                                    <a href="/comment/{{ item.id }}/delete"><img src="/static/images/comment_trash.png" alt="삭제" /></a>
                                </span>
                                {% endif %}
                            </p>
                            <p class="contents_text">{{ item.comment|e }}</p>
                        </div>
                    </li>
			    {% endfor %}
			</ul>
		</div>
	</article>
</section>
{% endblock %}

{% block script %}
<script type="text/javascript" src="/static/bower_components/jquery-autosize/jquery.autosize.min.js"></script>
<script type="text/javascript" src="/static/bower_components/jquery-cookie/jquery.cookie.js"></script>
<script>
$(function() {
    var MAX_COMMENT = 300;
    
    $('#js_toggle_form').click(function() {
        $('#js_write_form').fadeToggle(300);
        $(this).hide();
    });
    
    $('#input_comment').keyup(function() {
        $('#js_char_remain').text($(this).val().length);
    });

    $(':input[name=nickname]').val($.cookie('nickname'));

	$('form').submit(function() {
	    try {
    	    var nickname = $(':input[name=nickname]').val();
    	    var comment = $(':input[name=comment]').val();
    	    if ($.trim(nickname) == '' || $.trim(comment) == '') {
    	        alert('닉네임과 댓글을 입력해 주세요');
    	    	return false;
        	}
            if ($.trim(nickname) == '리디스토리') {
                alert('리디스토리는 닉네임으로 사용하실 수 없습니다.');
                return false;
            }
        	if ($.trim(comment).length > MAX_COMMENT) {
        	    alert('댓글은 ' + MAX_COMMENT + '자 이내로 입력해 주세요.');
        	    return false;
        	}
        	
        	// 작성자 저장
    		$.cookie('nickname', nickname);
    		
    	} catch (e) {
    	    console.log(e);
    	    return false;
    	}
    	
    	$('#js_submit').hide();
    	
    	return true;
	});

    // 댓글입력창 자동으로 아래로 늘어나게 추가 @배재민
    $('#input_comment').autosize();
});
</script>
<div id="endic-ext-wrapper" style="display: none;"></div>
{% endblock %}
