{% extends '/base.twig' %}
{% block container %}
<section class="comment">
	<article class="comment_wrap">
		<div class="module_title2">
			<h2 class="title">{{ part.title }}</h2>
			<hr class="clear_both" />
		</div>
		<div class="comment_tab">
			<div class="tab_off">
				<p class="comment_num">댓글 <span class="num">{{ num_comments }}</span></p>
				<button id='js_toggle_form' class="default_btn btn_tab_open">댓글쓰기</button>
			</div>
			<div id='js_write_form' class="tab_on" style='display: none;'>
				<form action='/comment/add' method='post'>
                    <input type='hidden' name='p_id' value='{{ part.id }}'>
                    <input type='hidden' name='device_id' value='{{ device_id }}'>
					<input type="text" name='nickname' class="input_nick" placeholder="닉네임을 입력하세요"/>
					<textarea name="comment" id="input_comment" class="input_text" placeholder="댓글을 입력하세요" maxlength='300'></textarea>
					<p class="char_num"><span id='js_char_remain' class="now_num">0</span>/300</p>
					<button class="default_btn btn_submit" type="submit">등록하기</button>
				</form>
				<hr class="clear_both" />
			</div>
		</div>
		<div class="comment_list">
			<ul class="list_wrap">
			    {% set icon_map = [1, 2, 3, 4, 1, 2, 1, 2, 3, 4, 1, 2] %}
			    {% for item in comments %}
				<li>
					<div class="avarta">
						<img src="/static/images/icon_comment0{{ icon_map[item.id % icon_map|length] }}.png" alt="아바타" />
					</div>
					<div class="contents_wrap">
						<p class="contents_info">
							<span class="box_left_arrow">작성자</span>
							<span class="info_id">{{ item.nickname }}</span>
							<span class="info_date">{{ item.timestamp }}</span>
						</p>
						<p class="contents_text">{{ item.comment|e }}</p>
					</div>
				</li>
			    {% endfor %}
			</ul>
		</div>
	</article>
</section>
{% endblock %}

{% block script %}
<script>
$(function() {
    var MAX_COMMENT = 300;
    
    $('#js_toggle_form').click(function() {
        $('#js_write_form').fadeToggle(300);
        $(this).hide();
    });
    
    $('#input_comment').keyup(function() {
        $('#js_char_remain').text($(this).val().length);
    });

	$('form').submit(function() {
	    try {
    	    var nickname = $(':input[name=nickname]').val();
    	    var comment = $(':input[name=comment]').val();
    	    if ($.trim(nickname) == '' || $.trim(comment) == '') {
    	        alert('닉네임과 댓글을 입력해 주세요');
    	    	return false;
        	}
        	if ($.trim(comment).length > MAX_COMMENT) {
        	    alert('댓글은 ' + MAX_COMMENT + '자 이내로 입력해 주세요.');
        	    return false;
        	}
    	} catch (e) {
    	    console.log(e);
    	    return false;
    	}
    	return true;
	});
});
</script>
{% endblock %}
