{% extends '/admin/base.twig' %}

{% block container %}
    <ul class="nav nav-tabs">
        <li class="active"><a href="/admin/stats_kpi/buy_coin">코인 구매 지표</a></li>
        <li><a href="/admin/stats_kpi/buy_coin/detail">코인충전실적 상세 (충전건수)</a></li>
        <li><a href="/admin/stats_kpi/use_coin">코인 사용 지표</a></li>
        <li><a href="/admin/stats_kpi/use_coin/detail">코인사용실적 상세 (코인 소진 수)</a></li>
    </ul>

    <form>
        <div class="well form-inline">
            <h4>기간 설정</h4>
            <input type='text' class='input-medium' name='begin_date' value='{{ begin_date }}' placeholder='0000-00-00' />
            ~
            <input type='text' class='input-medium' name='end_date' value='{{ end_date }}' placeholder='0000-00-00' />
            <button class="btn">조회</button>
        </div>
    </form>

    <div class="well form-inline">
        <h4>코인 구매 지표 (인앱)</h4>
        <div style='margin-bottom: 5px;'>누적 구매자 수: <b>{{ inapp_accumulated_user }}</b></div>
        <div style='margin-bottom: 30px;'>인앱결제 + 리디캐시 누적 구매자 수: <b>{{ inapp_and_ridicash_accumulated_user }}</b></div>
        <table class='table'>
            <thead>
            <tr>
                <th>날짜</th>
                <th>구매유저수</th>
                <th>구입코인수</th>
                <th>보너스지급코인수</th>
                <th>충전된코인총계</th>
                <th>환불된코인총계</th>
                <th>코인구매액총계</th>
                <th>코인환불액총계</th>
                <th>총계</th>
            </tr>
            </thead>
            <tbody>
            {% for ibc in inapp_buy_coins %}
                <tr>
                    <td>{{ ibc.purchase_date }}</td>
                    <td>{{ ibc.user_count }}</td>
                    <td>{{ ibc.coin_amount }}</td>
                    <td>{{ ibc.bonus_coin_amount }}</td>
                    <td>{{ ibc.coin_amount + ibc.bonus_coin_amount }}</td>
                    <td>{{ ibc.refunded_total_coin_amount }}</td>
                    <td>{{ ibc.total_buy_sales|number_format(0, '', ',') }}</td>
                    <td>{{ ibc.total_refunded_sales|number_format(0, '', ',') }}</td>
                    <td>{{ (ibc.total_buy_sales - ibc.total_refunded_sales)|number_format(0, '', ',') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="well form-inline">
        <h4>코인 구매 지표 (리디캐시)</h4>
        <div style='margin-bottom: 30px;'>누적 구매자 수: <b>{{ ridicash_accumulated_user }}</b></div>
        <table class='table'>
            <thead>
            <tr>
                <th>날짜</th>
                <th>구매유저수</th>
                <th>구입코인수</th>
                <th>보너스지급코인수</th>
                <th>충전된코인총계</th>
                <th>환불된코인총계</th>
                <th>코인구매액총계</th>
                <th>코인환불액총계</th>
                <th>총계</th>
            </tr>
            </thead>
            <tbody>
            {% for rbc in ridicash_buy_coins %}
                <tr>
                    <td>{{ rbc.purchase_date }}</td>
                    <td>{{ rbc.user_count }}</td>
                    <td>{{ rbc.coin_amount }}</td>
                    <td>{{ rbc.bonus_coin_amount }}</td>
                    <td>{{ rbc.coin_amount + rbc.bonus_coin_amount }}</td>
                    <td>{{ rbc.refunded_total_coin_amount }}</td>
                    <td>{{ rbc.total_buy_sales|number_format(0, '', ',') }}</td>
                    <td>{{ rbc.total_refunded_sales|number_format(0, '', ',') }}</td>
                    <td>{{ (rbc.total_buy_sales - rbc.total_refunded_sales)|number_format(0, '', ',') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="well form-inline">
        <h4>코인 구매(지급) 지표 (이벤트)</h4>
        <div style='margin-bottom: 30px;'>누적 지급자 수: <b>{{ event_accumulated_user }}</b></div>
        <table class='table'>
            <thead>
            <tr>
                <th>날짜</th>
                <th>지급유저수</th>
                <th>지급코인수</th>
                <th>회수코인수</th>
            </tr>
            </thead>
            <tbody>
            {% for ec in event_coins %}
                <tr>
                    <td>{{ ec.event_date }}</td>
                    <td>{{ ec.user_count }}</td>
                    <td>{{ ec.coin_amount }}</td>
                    <td>{{ ec.withdraw_coin_amount }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}