{% extends '/admin/base.twig' %}

{% block container %}
    <ul class="nav nav-tabs">
        <li><a href="/admin/stats_kpi/buy_coin">코인 구매 지표</a></li>
        <li><a href="/admin/stats_kpi/buy_coin/detail">코인충전실적 상세 (충전건수)</a></li>
        <li><a href="/admin/stats_kpi/use_coin">코인 사용 지표</a></li>
        <li class="active"><a href="/admin/stats_kpi/use_coin/detail">코인사용실적 상세 (코인 소진 수)</a></li>
    </ul>

    <form>
        <div class="well form-inline">
            <h4>조회할 책 설정</h4>
            * 조회하실 책 ID 목록을 입력해주세요. (구분은 엔터(줄바꿈)로 해주세요.)<br />
            * 책 ID에 해당하는 책이 없는 경우에는, 조회되지 않습니다.<br />
            <textarea style='margin-top:20px;' rows='8' class='input-medium' name='bid_list'>{{ bid_list }}</textarea>
            <h4>기간 설정</h4>
            <input type='text' class='input-medium' name='begin_date' value='{{ begin_date }}' placeholder='0000-00-00' />
            ~
            <input type='text' class='input-medium' name='end_date' value='{{ end_date }}' placeholder='0000-00-00' />
            <button class="btn">조회</button>
        </div>
    </form>

    <div class="well form-inline">
        <h4>코인사용실적 상세</h4>
        <div>총 다운로드 수: <b>{{ total_download }}</b></div>
        <div style='margin-bottom: 30px;'>총 유료다운 수: <b>{{ total_charged_download }}</b></div>
        <table class='table'>
            <thead>
            <tr>
                <th>날짜</th>
                {% for b in books %}
                    <th>{{ b.id }}_{{ b.title }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for uc in use_coins %}
                <tr>
                    <td>{{ uc.use_date }}</td>
                    {% for i in 0..(books|length - 1) %}
                        <td>{{ attribute(uc, 'b_' ~ i) }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            <tr>
                <th>다운로드유저수</th>
                {% for download in book_download %}
                    <td><b>{{ download.count }}</b></td>
                {% endfor %}
            </tr>
            <tr>
                <th>유료다운유저수</th>
                {% for download in book_charged_download %}
                    <td><b>{{ download.count }}</b></td>
                {% endfor %}
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}