{% extends '/admin/base.twig' %}

{% block container %}
    <ul class="nav nav-tabs">
        <li class="active"><a href="/admin/stats/register_ridibooks_id">전환용 리디북스 계정 등록</a></li>
        <li><a href="/admin/stats/register_device">기기등록</a></li>
        <li><a href="/admin/stats/user_interests">알림받기</a></li>
        <li><a href="/admin/stats/user_likes">좋아요</a></li>
    </ul>

    <form>
        <div class="well form-inline">
            <h4>기간 설정</h4>
            <input type='text' class='input-medium' name='begin_date' value='{{ begin_date }}' placeholder='yyyy-mm-dd' />
            ~
            <input type='text' class='input-medium' name='end_date' value='{{ end_date }}' placeholder='yyyy-mm-dd' />
            <button class="btn">조회</button>
            <div style='margin-top: 15px;'>
                * 시작일과 종료일 중 하나는 입력해주셔야 합니다.<br />
                <span style="margin-left: 15px;">- 시작하는 날짜를 입력하지 않을 경우: 끝나는 날짜까지의 누적 정보 조회</span><br />
                <span style="margin-left: 15px;">- 끝나는 날짜를 입력하지 않을 경우: 오늘까지의 누적 정보 조회</span><br />
            </div>
        </div>
    </form>

    <div style='margin-bottom: 15px;'>총 전환용 리디북스 계정 매칭 수: <b>{{ total_registered }}</b> (테스트 유저 제외)</div>
    <table class='table table-bordered'>
        <tr>
            <td><b>날짜</b></td>
            <td><b>매칭된 유저 수</b></td>
        </tr>
        {% for rs in register_stat %}
            <tr>
                <td>
                    {% if (rs.date) %}
                        {{ rs.date }}
                    {% else %}
                        기타 (2014.09.26 17:45 이전에 등록)
                    {% endif %}
                </td>
                <td>{{ rs.count }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
